.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1px;
}
.body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 65px);
}
.sidebar {
  padding: 20px;
  width: 265px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
}
